/* You can add global styles to this file, and also import other style files */

.si-content-wrapper {
  padding: 15px !important;
  border: none !important;
  background-color: blue !important;
  color: white !important;
  text-align: center;
  border-radius: 0px !important;
}
.si-pointer-bg-top {
  border-top-color: blue !important;
}
.si-pointer-border-top {
  bottom: 1px !important;
  border-top-color: blue !important;
}
.si-close-button {
  opacity: 1 !important;
  color: #fff !important;
}
